* {
    margin: 0px;
    font-family: 'Open sans', 'sans-serif';
    font-size: 1em;
}

a {
    outline: 0;
    margin-right: 30px;
    text-align: center;
    color: #7d7d7d !important;
}

#avasec-logo img{
    width: 100 % ;
    height: auto;
    padding-left: 10px;
    cursor: pointer;
}

#logo-image {
    width: 60%;
}

#home-image {
    padding-top: 10px;
    width: 100%;
}

nav ul li {
    display: inline;
}

nav ul li a:hover {
   background-color: white;
   color: black !important;
}

nav {
    border-bottom: 0px;
}

.active {
    color: black !important;
}

.logo-wrapper {
  position: absolute;
  height: calc(110vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  top: 0;
  pointer-events: none;
  width: 100%;
}

.buttons-wrapper {
  position: absolute;
  height: calc(210vh);
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  top: 0;
  pointer-events: none;
  width: 100%;
}

.logo-wrapper a {
  pointer-events: auto;
  color: black !important;
}

.mg-rg {
  margin-right: 1rem;
  margin-left: 1rem;
  background-color: transparent !important;
  border: 2.5px solid black;
}

.mg-rg:hover{
    background-color: transparent !important;
}

#slider-image {
    opacity: 0.6;
}

footer {
    background-color: #ca2121 !important;
}

#about-company, #about-founder {
    margin: 0px auto 0px auto;
}

#about-picture, #about-founder-picture {
    margin: 30px auto 30px auto;
}

#about-text {
    margin: 0px auto 30px auto;
    padding: 30px 0px 30px 50px;
    font-size: 20px;
}

#services-head {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #003333;
    color: white;
}

#projects {
    font-size: 18px;
    color: black;
    padding: 20px 0px 30px 0px;
}
#careers, #career-details{
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #ffff99;
    color: black;
}

#contact, #contact-details{
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #213434;
    color: white;
}

#services-provided {
    font-size: 35px auto;
    color: black;
}

#avasec-footer img{
    padding-top: 20px;
    width: 40%;
    height: 40%;
}

#contacts-container {
    width: 80%;
}

#snsIcons img{
    padding-top: 20px;
    width:7%;
    height:7%;
}

#carousel-caption{
    color: black;
}
#carousel-caption i{
    color: #29caca;
}

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #FAFAFA;
}

.carousel-cell {
  width: 25%;
  margin-right: 10px;
  background: #333;
}

.carousel-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}